@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Sora', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  background: #FFEAE2;

}

.second-background{
  background-color: #FFEAE2
}

.urua {
  background-color: #F46C48;
}

.urua-text {
  color: #F46C48;
}

.urua-border{
  border-color: #F46C48;
}

@media only screen and (max-width: 1024px) {
  nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 999;
    transition: 1s;
    transform: translateY(-100vh);
  }

  header .responsive_nav {
    transform: none;
  }
}

iframe::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}